body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  flex: 0 0 500px;
  background-color: black;
  border-radius: 15px;
}

.mainText {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
  font-size: 48px;
  border: 2px solid darkgray;
  padding: 15px;
  color: white;
  border-radius: 15px;
}

.Operations {
  display: flex;
  flex-wrap: nowrap;
}
.Operation {
  font-size: 24px;
  flex: 1 1 90px;
  padding: 20px;
  margin: 5px;
  background-color: orange;
  border-radius: 15px;
}
.Numbers {
  display: flex;
  flex-wrap: wrap;
}
.myNumber {
  font-size: 24px;
  flex: 1 1 90px;
  padding: 20px;
  margin: 5px;
  background-color: grey;
  color: white;
  border-radius: 15px;
}
.special {
  display: flex;
  flex-wrap: nowrap;
}

.Spl {
  font-size: 24px;
  flex: 1 1 90px;
  padding: 20px;
  margin: 5px;
  background-color: grey;
  color: white;
  border-radius: 15px;
}

button {
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: darkgrey;
}
